.productPage {
  display: flex;
  background-color: white;
  padding: 30px 40px;
  min-height: 100vh;
  border-bottom: 1px lightgray solid;
}

.info {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  margin-right: 20px;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 0.5;
}

.details {
  flex: 0.5;
}

.details h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.price {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 20px;
  color: #b12704;
}

.price span {
  color: #565959;
  margin-right: 5px;
  font-size: 16px;
}

@media (max-width: 1300px) {
  .images {
    max-height: 690px;
    overflow: hidden;
    flex-direction: column;
  }
  .details {
    margin-top: 40px;
  }
  .imgItem {
    width: 60px;
    height: 30px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .info {
    flex-direction: column;
  }
  .productPage {
    flex-direction: column;
    padding: 20px 5px;
  }
}
