.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.multi {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.multi button {
  margin: 10px 0;
}

.formControl {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
}

.imageInput {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.imgPreview {
  margin: 0 5px;
  width: 75px;
  height: 40px;
  object-fit: contain;
  border: 4px double rgba(33, 110, 191, 0.69);
  padding: 1px;
}

.description {
  width: 100% !important;
  margin-bottom: 5px;
}

.input {
  margin-bottom: 5px;
}

.specInput {
  display: flex;
  align-items: center;
}

@media (max-width: 676px) {
  .form form {
    display: flex;
    align-items: center;
    max-width: 360px;
  }
}

@media (max-width: 480px) {
  .form {
    align-items: flex-start;
    padding: 0 !important;
  }
  .form form {
    max-width: 310px;
  }
}
