.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  height: 110px;
  padding: 20px;
  background-color: white;
}

.gift {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.gift input {
  margin-right: 5px;
}

.subtotal p {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 676px) {
  .subtotal {
    width: inherit;
    border-bottom: 1px solid lightgray;
  }
}
